/*This is how comments are done */
.profile-picture{
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	width: 250px;
    height: 250px;
}


.intro{
	margin-right: 20px;
	margin-left: 20px;

}


header{
	text-align: right;
	
}


h1{
	text-align: center;
	line-height: 40%;
}

body{
	font-size: 130%;
}
footer{
	text-align: center;
	font-size: 80%;
}	

a{
	color:black;
	text-decoration: none;
}
.content{
	background-color: rgb(245, 229, 220);
	color:black;
	font-size: 120%;
}

.content:hover{
	background-color: rgb(247, 223, 249);
}

.in-text-link{
	background-color: rgb(255, 255, 203);
}

.in-text-link:hover{
	background-color: rgb(245, 229, 220);
}

.social-link:hover{
	color: lightpink;
}

.social{
	border: dashed 2px rgb(247, 223, 249);
	width: 250px;
	text-align: center;
	font-size: 120%;
	display: block;
	margin: 0 auto;
}
